<div class="main-content">
    <h1><a name="BusinessOwnerApi"></a>BusinessOwnerApi</h1>

    
        
            <hr/>
            <h3 class="operation-heading"><a name="businessownerBusinessOwnerIdGet"></a>Get business owners by ID</h3>

            <p class="marked"></p>

            <p class="marked">Get business owners by ID.</p>

            <h4 class="section-heading">URL</h4>
            <code>http://apis.wso2.com/api/appm/store/v1.1/businessowner/{businessOwnerId}</code>

            <h4 class="section-heading">HTTP Method</h4>
            <code>GET</code>

            <h4 class="section-heading">Scope</h4>
            
                <code>appm:read</code>
            
            

            <h4 class="section-heading">CURL Example</h4>
            
                <div class="pre"><code class="bash">curl -X GET -H &quot;Authorization: Bearer 68f8872882b2dca493328564942251b6&quot; &quot;http://localhost:9763/api/appm/store/v1.1/businessowner/1&quot;</code></div>
            
            

            

            <div class="pointer" data-toggle="collapse" data-target="#response-businessownerBusinessOwnerIdGet">
                <h4 class="section-heading">
                    Sample Response
                    
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    
            </h4>
            </div>
            
                <div id="response-businessownerBusinessOwnerIdGet" class="pre collapse"><code class="json">{&quot;site&quot;: &quot;test.lk&quot;,&quot;email&quot;: &quot;testOwner@gmail.com&quot;,&quot;description&quot;: &quot;this is a test description&quot;,&quot;name&quot;: &quot;testOwner&quot;,&quot;properties&quot;: [{&quot;isVisible&quot;: false,&quot;value&quot;: &quot;903334238V&quot;,&quot;key&quot;: &quot;nic&quot;}],&quot;id&quot;: 1}</code></div>
            
            
            <h4 class="section-heading">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>businessOwnerId</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Business Owner Id.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                Integer
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>Accept</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Media types acceptable for the response. Default is JSON.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">JSON</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-None-Match</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter"><p class="marked">200</p></td>
                        <td class="parameter"><p class="marked">OK.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#BusinessOwner">BusinessOwner</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">400</p></td>
                        <td class="parameter"><p class="marked">Bad Request.\nInvalid request or validation error.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">403</p></td>
                        <td class="parameter"><p class="marked">Forbidden.\nThe request must be conditional but no condition has been specified.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">404</p></td>
                        <td class="parameter"><p class="marked">Not Found.\nThe resource to be updated does not exist.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        
    
</div>
