<div class="main-content">
    <h1><a name="LifecycleApi"></a>LifecycleApi</h1>

    
        
            <hr/>
            <h3 class="operation-heading"><a name="appsAppTypeIdAppIdLifecycleGet"></a>Get lifecycle details</h3>

            <p class="marked"></p>

            <p class="marked">Get lifecycle details of an App.</p>

            <h4 class="section-heading">URL</h4>
            <code>http://apis.wso2.com/api/appm/publisher/v1.1/apps/{appType}/id/{appId}/lifecycle</code>

            <h4 class="section-heading">HTTP Method</h4>
            <code>GET</code>

            <h4 class="section-heading">Scope</h4>
            
                <code>appm:read</code>
            
            

            <h4 class="section-heading">CURL Example</h4>
            
                <div class="pre"><code class="bash">curl -X GET -H &quot;Authorization: Bearer 0c0338592beefe7225bd6d869e93ca06&quot; &quot;http://localhost:9763/api/appm/publisher/v1.1/apps/webapp/id/c9ddf00d-c42f-4299-931c-bcda69c68050/lifecycle&quot;</code></div>
            
            

            

            <div class="pointer" data-toggle="collapse" data-target="#response-appsAppTypeIdAppIdLifecycleGet">
                <h4 class="section-heading">
                    Sample Response
                    
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    
            </h4>
            </div>
            
                <div id="response-appsAppTypeIdAppIdLifecycleGet" class="pre collapse"><code class="json">{&quot;actions&quot;:[&quot;Reject&quot;,&quot;Approve&quot;],&quot;state&quot;:&quot;IN-REVIEW&quot;,&quot;async&quot;:true}</code></div>
            
            
            <h4 class="section-heading">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appType</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The App type (either Webapp/Mobile app).</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appId</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">**APP ID** consisting of the **UUID** of the App.\nThe following combination is also accepted as a valid APP ID: the provider of the app, name of the app and the version.\nShould be formatted as **provider-name-version**.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>Accept</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Media types acceptable for the response. Default is JSON.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">JSON</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-None-Match</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter"><p class="marked">200</p></td>
                        <td class="parameter"><p class="marked">OK.\nDetails of a lifecycle is returned.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#LifeCycle">LifeCycle</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">400</p></td>
                        <td class="parameter"><p class="marked">Bad Request.\nInvalid request or validation error.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">403</p></td>
                        <td class="parameter"><p class="marked">Forbidden.\nThe request must be conditional but no condition has been specified.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">404</p></td>
                        <td class="parameter"><p class="marked">Not Found.\nThe resource to be updated does not exist.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        
            <hr/>
            <h3 class="operation-heading"><a name="appsAppTypeIdAppIdLifecycleHistoryGet"></a>Get lifecycle details</h3>

            <p class="marked"></p>

            <p class="marked">Get lifecycle details.</p>

            <h4 class="section-heading">URL</h4>
            <code>http://apis.wso2.com/api/appm/publisher/v1.1/apps/{appType}/id/{appId}/lifecycle-history</code>

            <h4 class="section-heading">HTTP Method</h4>
            <code>GET</code>

            <h4 class="section-heading">Scope</h4>
            
                <code>appm:read</code>
            
            

            <h4 class="section-heading">CURL Example</h4>
            
                <div class="pre"><code class="bash">curl -X GET -H &quot;Authorization: Bearer 9659421d7eea4c3ed54ef0833fade8f8&quot; &quot;http://localhost:9763/api/appm/publisher/v1.1/apps/mobileapp/id/44a49211-7b37-4b30-873e-4373343fdcda/lifecycle-history&quot;</code></div>
            
            

            

            <div class="pointer" data-toggle="collapse" data-target="#response-appsAppTypeIdAppIdLifecycleHistoryGet">
                <h4 class="section-heading">
                    Sample Response
                    
                        <span class="glyphicon glyphicon-collapse-down" aria-hidden="true"></span>
                    
            </h4>
            </div>
            
                <div id="response-appsAppTypeIdAppIdLifecycleHistoryGet" class="pre collapse"><code class="json">{&quot;lifeCycleHistoryList&quot;:[{&quot;state&quot;:&quot;Approved&quot;,&quot;order&quot;:4,&quot;timestamp&quot;:&quot;2016-05-20 14:47:16.787&quot;,&quot;user&quot;:&quot;wso2.system.user&quot;,&quot;targetState&quot;:&quot;Published&quot;},{&quot;state&quot;:&quot;In-Review&quot;,&quot;order&quot;:3,&quot;timestamp&quot;:&quot;2016-05-20 14:47:15.309&quot;,&quot;user&quot;:&quot;wso2.system.user&quot;,&quot;targetState&quot;:&quot;Approved&quot;},{&quot;state&quot;:&quot;Created&quot;,&quot;order&quot;:2,&quot;timestamp&quot;:&quot;2016-05-20 14:47:13.548&quot;,&quot;user&quot;:&quot;wso2.system.user&quot;,&quot;targetState&quot;:&quot;In-Review&quot;},{&quot;state&quot;:&quot;Initial&quot;,&quot;order&quot;:1,&quot;timestamp&quot;:&quot;2016-05-20 14:46:59.978&quot;,&quot;user&quot;:&quot;admin&quot;,&quot;targetState&quot;:&quot;Created&quot;}]}</code></div>
            
            
            <h4 class="section-heading">Parameters</h4>
            <table class="table table-hover">
                <colgroup>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                    <col style="width: 40%;"/>
                    <col style="width: 10%;"/>
                    <col style="width: 20%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>Type</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Schema</th>
                    <th>Default</th>
                </tr>
                </thead>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appType</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">The App type (either Webapp/Mobile app).</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            <span class="param-in">Path </span>
                            
                            
                        </td>
                        <td class="param-name">
                            <p>appId</p>
                            <p class="param-required">
                                required
                                
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">**APP ID** consisting of the **UUID** of the App.\nThe following combination is also accepted as a valid APP ID: the provider of the app, name of the app and the version.\nShould be formatted as **provider-name-version**.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>Accept</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Media types acceptable for the response. Default is JSON.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked">JSON</p>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter">
                            
                            
                            
                            <span class="param-in">Header </span>
                            
                        </td>
                        <td class="param-name">
                            <p>If-None-Match</p>
                            <p class="param-required">
                                
                                optional
                            </p>
                        </td>
                        <td>
                            <p class="param-description marked">Validator for conditional requests; based on the ETag of the formerly retrieved\nvariant of the resource.</p>
                            
                        </td>
                        <td>
                            <span class="param-type">
                                String
                                
                            </span>
                        </td>
                        <td>
                            <p class="marked"></p>
                        </td>
                    </tr>
                
            </table>

            <h4 class="section-heading">Responses</h4>

            <table class="table table-hover">
                <colgroup>
                    <col style="width: 15%;"/>
                    <col style="width: 70%;"/>
                    <col style="width: 15%;"/>
                </colgroup>
                <thead>
                <tr class="active">
                    <th>HTTP Code</th>
                    <th>Description</th>
                    <th>Schema</th>
                </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <td class="parameter"><p class="marked">200</p></td>
                        <td class="parameter"><p class="marked">OK.\nList of qualifying Apps is returned.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#LifeCycleHistoryList">LifeCycleHistoryList</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">400</p></td>
                        <td class="parameter"><p class="marked">Bad Request.\nInvalid request or validation error.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">403</p></td>
                        <td class="parameter"><p class="marked">Forbidden.\nThe request must be conditional but no condition has been specified.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                    <tr>
                        <td class="parameter"><p class="marked">404</p></td>
                        <td class="parameter"><p class="marked">Not Found.\nThe resource to be updated does not exist.</p></td>
                        <td class="parameter">
                            <span class="parameter">
                                
                                    <a href="#!/models#Error">Error</a>
                                
                                
                            </span>
                        </td>
                    </tr>
                
                </tbody>
            </table>
        
    
</div>
