{{!-- footer --}}
<footer class="footer">
    <div class="container-fluid">
        <p>Entgra App Manager | &copy;
            <script>document.write(new Date().getFullYear());</script>
            <a href="https://entgra.io/" target="_blank">entgra.io</a>.
        </p>
    </div>
</footer>